/* body{
    overflow-y: hidden;
} */


.main{
    width: 600px;
}
body{
    background-color: #000 !important;
}
#root{
    background-color: #000;
}

#root *:not(.modalContainer *, a){
    color: #fff;
}

