.main {
  padding: 0 !important;
 
}

.main > p {
  margin-left: 40px;
  margin-top: 10px;
}

.modal-design .modal-body {
  padding: 0 !important;
  background-color: #262626;
}

.ripple .ripple-surface {
  width: 100%;
}

.imageModalContainer,
.imageModalContainer > div:first-child {
  width: 100% !important;
  
}
.imageModalContainer > div > :nth-child(2) {
  margin-left: 10px;
}

.modalInput {
  padding: 0 20px;
  margin-top: -20px !important;
  
}

.modal-design .modalButton {
  margin: 0 20px;
  background-color: #4f4f4f;
}

.modalButtonContainer {
  margin: 20px 0 30px;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 0.5fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas: ". . .";
}


.modalButtonContainer > span {
    grid-column: 2/2;
}

.modal-design input {
  background-color: #4f4f4f !important;
  color: whitesmoke !important;
}

.modal-design .container-fluid {
  background-color: #262626;
}

.button-design {
  background-color: #4f4f4f !important;
}

